@media (max-width: 960px) {
    .text {
        font-size: 1.5em;
    }
    
    .controls label {
        width: 18.75px;
        height: 18.75px;
        margin: 7.5px;        
    }
}

@media (max-width: 768px) {
    .slides img {
        height: calc(100%);
        width: 100%;
    }
    
    .controls {
        order: 1;
        align-self: center;
        margin-bottom: 40px;        
    }

    .text-wrapper {
        order: 2;
        
    }

    .slider-box {
        flex-direction: column;
    }
}